.contacts {
  position: relative;
  padding: 13px 0 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 45px 0 0;
  }

  @media (min-width: $desktop-width) {
    padding: 59px 0 0;
  }
}

.contacts__wrapper {
  position: relative;
  z-index: 10;
}

.contacts__map {
  height: 237px;
  width: 100%;
  border: none;

  @media (min-width: $tablet-width) {
    height: 399px;
  }

  @media (min-width: $desktop-width) {
    height: 514px;
  }
}

.contacts__inner {
  position: relative;
  overflow: hidden;
}

.contacts__inner::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  border-left: 162px solid transparent;
  border-right: 162px solid transparent;
  border-top: 53px solid $basic-white;

  @media (min-width: $tablet-width) {
    border-left-width: 329px;
    border-right-width: 329px;
    border-top-width: 78px;
  }

  @media (min-width: $desktop-width) {
    border-left-width: 597px;
    border-right-width: 597px;
    border-top-width: 110px;
  }
}

.contacts__slogan {
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    @include text($font-size: 40px, $font-weight: 300, $line-height: 54px);

    text-align: center;
    max-width: 380px;
    margin: 0 auto;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    @include text($font-size: 50px, $font-weight: 300, $line-height: 68px);

    max-width: 500px;
    margin-bottom: 18px;
  }
}

.contacts__title {
  margin: 18px 0 0;
}

.contacts__item:nth-child(3) .contacts__title {
  margin-top: 22px;

  @media (min-width: $desktop-width) {
    margin-bottom: 21px;
  }
}

.contacts__item:not(:last-child) .contacts__title {
  @media (min-width: $tablet-width) {
    margin: 15px 0 3px;
  }

  @media (min-width: $desktop-width) {
    margin: 15px 0 20px;
  }
}

.contacts__addres {
  margin: 0;

  @media (min-width: $tablet-width) {
    max-width: 215px;
    margin-top: 4px;
  }
}

.contacts__slogan,
.contacts__title {
  color: $first-text-color;
}

.contacts__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @include list-reset;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    margin-left: 50px;
    align-items: baseline;
  }
}

@media (min-width: $tablet-width) {
  .contacts__item:nth-child(1) {
    margin: 19px 0 0 47px;
  }

  .contacts__item:nth-child(2) {
    margin: 19px 0 0 98px;
  }

  .contacts__item:nth-child(3) {
    margin: 21px auto 0;
  }
}

.contacts__item:nth-child(1) {
  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.contacts__item:nth-child(2) {
  @media (min-width: $desktop-width) {
    order: 3;
    margin: 0 0 0 100px;
  }
}

.contacts__item:nth-child(3) {
  @media (min-width: $desktop-width) {
    order: 2;
    margin: 0 0 0 100px;
  }
}

.contacts__number:hover {
  text-decoration-line: underline;
  color: $first-text-color;
}

.contacts__number:active {
  text-decoration: none;
  opacity: 0.3;
}

.contacts__email:hover {
  text-decoration-line: underline;
  color: $first-text-color;
}

.contacts__email:active {
  text-decoration: none;
  opacity: 0.3;
}
