.fact {
  margin-left: auto;
  max-width: 310px;

  @media (min-width: $desktop-width) {
    max-width: 572px;
    margin-top: 52px;
  }
}

.fact__title {
  @include text($title-text-color, 30px, 700, 36px);
  margin-bottom: 0;

  span {
    display: block;

    @media (min-width: $desktop-width) {
      display: inline;
    }
  }

  @media (min-width: $desktop-width) {
    line-height: 30px;
  }
}

.fact__text {
  margin: 10px 0 10px;
  max-width: 300px;

  @media (min-width: $desktop-width) {
    line-height: 30px;
    font-size: 18px;
    max-width: 540px;
    margin-top: 26px;
    margin-bottom: 31px;
  }

  span {
    display: block;

    @media (min-width: $desktop-width) {
      display: inline;
    }
  }
}

.fact__link {
  color: $second-text-color;
  text-decoration: underline;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}
