.features__wrapper {
  padding-top: 41px;
  text-align: center;
  background-image: url("../../img/features-background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 159px;

  @media (min-width: $tablet-width) {
    text-align: start;
    background-image: url("../../img/features-background-tablet.svg");
    background-position-y: 213px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 55px;
    background-position-y: 279px;
  }
}

.features__container {
  display: none;
  padding: 65px 0 25px;

  @media (min-width: $tablet-width) {
    display: block;
    background-image: url("../../img/timer.svg");
    background-repeat: no-repeat;
    background-position: left 53px;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../../img/timer-desktop.svg");
    background-position: 4px 22px;
    padding-bottom: 112px;
  }
}

.features__inner {
  padding-top: 96px;
  padding-bottom: 304px;
  background-image: url("../../img/features-background-img.png");
  background-repeat: no-repeat;
  background-position: center 539px;

  @media (min-width: $tablet-width) {
    background-image: url("../../img/features-background-img-tablet.png");
    background-position: left 35px;
    padding-bottom: 29px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 57px;
    background-image: none;
  }
}

.features__box {
  @media (min-width: $desktop-width) {
    background-color: $main-bg-color;
  }
}

.features__title {
  color: $first-text-color;
  margin: 0;

  p {
    margin: 29px 0 0;
  }

  @media (min-width: $tablet-width) {
    @include text($font-size: 40px, $font-weight: 300, $line-height: 54px);

    margin: 7px 0 0;
    text-align: center;

    p {
      margin: 0 auto;
      max-width: 335px;
      text-align: center;
    }
  }

  @media (min-width: $desktop-width) {
    @include text($font-size: 50px, $font-weight: 300, $line-height: 68px);

    p {
      max-width: 420px;
    }
  }
}

.features__subtitle {
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    margin-top: 10px;
  }

  @media (min-width: $desktop-width) {
    background-color: $main-bg-color;
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    margin-top: 101px;
    padding-top: 56px;
  }
}

.features__text {
  margin-top: 11px;

  @media (min-width: $tablet-width) {
    span {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    margin-top: 24px;

    span {
      display: inline;
    }
  }
}

.features__list {
  display: flex;
  flex-direction: column;
  align-items: top;
  @include list-reset;

  @media (min-width: $tablet-width) {
    margin-left: auto;
    max-width: 310px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    max-width: 100%;
    margin-left: 0;
  }
}

.features__item {
  @media (min-width: $desktop-width) {
    margin-left: 29px;
  }
}

.features__item:nth-child(1) {
  @media (min-width: $desktop-width) {
    max-width: 245px;
    background-image: url("../../img/features-item-img-1.jpg");
    background-repeat: no-repeat;
    background-position: top;
    padding-top: 200px;
  }
}

.features__item:nth-child(2) {
  @media (min-width: $tablet-width) {
    margin-top: 11px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    max-width: 245px;
    background-image: url("../../img/features-item-img-2.jpg");
    background-repeat: no-repeat;
    background-position: top;
    padding-top: 200px;
    margin-left: 76px;
  }
}

.features__item:nth-child(3) {
  @media (min-width: $tablet-width) {
    margin-top: 12px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    max-width: 240px;
    background-image: url("../../img/features-item-img-3.jpg");
    background-repeat: no-repeat;
    background-position-x: 30px;
    padding-top: 200px;
    margin-left: 77px;
  }
}
