.features__title {
  color: $first-text-color;
}

.features__list {
  background-color: $main-bg-color;
  background-image: url("../../img/features-background-img.png");
  background-repeat: no-repeat;
}
