.filter {
  margin-top: 43px;
  padding: 20px 0 43px;
  background-color: $main-bg-color;

  @media (min-width: $tablet-width) {
    margin-top: 70px;
    padding-top: 57px;
    padding-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    margin: 67px auto 0;
    padding-bottom: 51px;
  }
}

.filter__box {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.filter__list {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 194px;
  margin: 35px 0 0 31px;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    width: 100%;
    margin: 0 0 0 37px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}

.filter__toggle {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.filter__item {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(40, 54, 69, 0.1);
    min-width: 273px;
    padding-bottom: 26px;
    margin-top: 7px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -2px;
    padding-bottom: 13px;
    min-width: 406px;
  }
}

.filter__item + .filter__item {
  margin-left: 23px;

  @media (min-width: $tablet-width) {
    margin-top: 19px;
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: 8px;
  }
}

.filter__button-slider {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    position: relative;
    width: 202px;
    height: 2px;
    background-color: $tretiary-bg-color;
    margin-left: auto;
    margin-right: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 28px;
    width: 289px;
  }
}

.filter__slider {
  position: relative;
  width: 240px;
  height: 2px;
  margin: 33px auto 0;
  background-color: $tretiary-bg-color;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.filter__slider-toggle {
  position: absolute;
  box-sizing: border-box;
  width: 14px;
  height: 14px;
  border: 2px solid $special-bg-color;
  background-color: $basic-white;
  border-radius: 50%;
  top: -5px;
  left: 193px;
  cursor: pointer;

  &--crop {
    left: 162px;

    @media (min-width: $desktop-width) {
      left: 235px;
    }
  }

  &--fill {
    left: 26px;

    @media (min-width: $desktop-width) {
      left: 37px;
    }
  }

  &--contrast {
    left: 97px;

    @media (min-width: $desktop-width) {
      left: 138px;
    }
  }
}

.filter__slider-toggle:active {
  background-color: $special-bg-color;
}

.filter__wrapper {
  border-top: 1px solid rgba(40, 54, 69, 0.1);
  margin-top: 34px;
  padding-top: 38px;

  @media (min-width: $tablet-width) {
    margin-top: 26px;
    margin-left: 25px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    margin-top: 117px;
    margin-left: -38px;
  }
}

.filter__button {
  display: block;
  width: 280px;
  margin: 0 auto;
  padding: 15px 0;
  border-radius: 30px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 257px;
    padding: 16px 0;
  }

  @media (min-width: $desktop-width) {
    width: 184px;
  }

  &--upload {
    color: $second-text-color;
    border: 3px solid $special-bg-color;

    @media (min-width: $desktop-width) {
      margin-left: 35px;
    }
  }

  &--cancel {
    color: $first-text-color;
    border: 3px solid $tretiary-bg-color;
    opacity: 0.1;

    @media (min-width: $desktop-width) {
      margin-right: 64px;
    }
  }
}

.filter__button--upload:hover {
  color: $tretiary-text-color;
  background-color: $special-bg-color;
}

.filter__button--upload:active {
  color: rgba(255, 255, 255, 0.3);
}

.filter__button--cancel:hover {
  opacity: 0.3;
}

.filter__button--cancel:active {
  color: $tretiary-text-color;
  background-color: $tretiary-bg-color;
}

.filter__button + .filter__button {
  margin-top: 13px;

  @media (min-width: $tablet-width) {
    margin-top: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
  }
}

.filter__inner {
  @media (min-width: $desktop-width) {
    margin-left: 79px;
  }
}

.filter__icon {
  fill: $tretiary-bg-color;
  opacity: 0.3;

  &--crop {
    width: 44px;
    height: 44px;

    @media (min-width: $tablet-width) {
      width: 22px;
      height: 22px;
    }

    @media (min-width: $desktop-width) {
      width: 44px;
      height: 44px;
    }
  }

  &--fill {
    width: 48px;
    height: 43px;

    @media (min-width: $tablet-width) {
      width: 24px;
      height: 22px;
    }

    @media (min-width: $desktop-width) {
      width: 48px;
      height: 43px;
    }
  }

  &--contrast {
    width: 32px;
    height: 32px;

    @media (min-width: $tablet-width) {
      width: 16px;
      height: 16px;
    }

    @media (min-width: $desktop-width) {
      width: 32px;
      height: 32px;
    }
  }

  &--active {
    fill: $special-bg-color;
    opacity: 1;
  }
}

.filter__icon:hover {
  opacity: 0.5;
}
