.footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding: 33px 0;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    min-height: 100px;
    padding: 3px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 42px 0;
  }
}

.footer__logo {
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin-left: 2px;
  }
}

.footer__logo-img {
  fill: $tretiary-bg-color;

  &--desktop {
    display: none;

    @media (min-width: $desktop-width) {
      display: block;
    }
  }

  &--tablet {
    @media (min-width: $desktop-width) {
      display: none;
    }
  }
}

.footer__logo-img:hover {
  fill: $special-bg-color;
}

.footer__logo-img:active {
  fill: $tretiary-bg-color;
  opacity: 0.3;
}

.footer__link {
  position: relative;
  margin: 47px 42px 0 0;

  &::before {
    content: "";
    width: 27px;
    height: 34px;
    position: absolute;
    background-image: url("../../img/html-academy-logo.svg");
    background-repeat: no-repeat;
    left: 103px;
    top: -8px;

    @media (min-width: $desktop-width) {
      left: 124px;
      top: -6px;
    }
  }

  @media (min-width: $tablet-width) {
    margin: 8px 0 0;
    padding-right: 42px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.footer__link:hover::before {
  background-image: url("../../img/html-academy-logo-hover.svg");
}

.footer__link:active::before {
  opacity: 0.3;
}
