.form {
  display: flex;
  flex-wrap: wrap;
}

.form__button {
  color: $tretiary-text-color;
  text-transform: uppercase;
  background-color: $form-button-bg;
  order: 6;
}

.form__legend {
  text-transform: uppercase;
}

.form__legend small {
  color: $second-text-color;
}

.form__item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  &--name {
    order: 1;
  }

  &--achievments {
    order: 2;
  }

  &--contacts {
    order: 3;
  }

  &--app {
    order: 4;
  }

  &--comment {
    order: 5;
  }
}

@media (min-width: $tablet-width) {
  .form__item {
    &--achievments {
      order: 4;
      flex-direction: row;
    }

    &--app {
      order: 2;
    }

    &--contacts {
      flex-direction: row;
    }
  }
}
