.header {
  background-image: url("../../img/header-background-img.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: $primary-bg-color;

  @media (min-width: $tablet-width) {
    background-image: url("../../img/header-background-img-tablet.jpg");
    background-size: cover;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../../img/header-background-img-desktop.jpg");
    background-size: cover;
  }

  &--form {
    background-image: url("../../img/header--form-catalog-background.jpg");
    background-size: cover;

    @media (min-width: $tablet-width) {
      background-image: url("../../img/header--form-catalog-background-tablet.jpg");
    }

    @media (min-width: $desktop-width) {
      background-image: url("../../img/header--form-catalog-background-desktop.jpg");
    }
  }

  &--catalog {
    background-image: url("../../img/header--form-catalog-background.jpg");
    background-size: cover;
    padding-bottom: 33px;

    @media (min-width: $tablet-width) {
      background-image: url("../../img/header--form-catalog-background-tablet.jpg");
      padding-bottom: 68px;
    }

    @media (min-width: $desktop-width) {
      background-image: url("../../img/header--form-catalog-background-desktop.jpg");
      padding-bottom: 0;
    }
  }
}

.header__inner {
  position: relative;
}

.header__inner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $basic-black;
  opacity: 0.3;
  z-index: 1;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 0 15px;
  position: relative;
  z-index: 2;

  @media (min-width: $tablet-width) {
    padding: 27px 0 37px;
  }
}

.header__title {
  color: $tretiary-text-color;
  text-align: center;
  line-height: 33px;
  max-width: 300px;
  margin: 30px auto 43px;

  @media (min-width: $tablet-width) {
    margin: 66px auto 60px;
    font-size: 50px;
    line-height: 68px;
    max-width: 600px;
  }

  @media (min-width: $desktop-width) {
    max-width: 759px;
    margin: 58px auto 89px;
  }
}

.header__logo {
  @media (min-width: $desktop-width) {
    margin-left: 2px;
  }
}
