.price {
  background-color: $main-bg-color;
}

.price-table__cell {
  text-transform: uppercase;
  line-height: 30px;

  &--header {
    @include text ($basic-white, 16px, 700, 30px);

    background-color: $first-text-color;

    p {
      font-weight: 300;
    }
  }
}
