.reviews {
  padding: 42px 0 35px;

  @media (min-width: $tablet-width) {
    padding: 80px 0 0;
  }

  @media (min-width: $desktop-width) {
    padding: 167px 0 0;
    background-image: url("../../img/quotes.svg");
    background-repeat: no-repeat;
    background-position: center 72px;
  }
}

.reviews__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    align-items: baseline;
  }
}

.reviews__list {
  @include list-reset;

  @media (min-width: $desktop-width) {
    max-width: 690px;
    margin: 0 auto;
  }
}

.reviews__button {
  display: none;
  background-color: $basic-white;
  border: none;
  position: relative;
  cursor: pointer;
  opacity: 0.3;

  @media (min-width: $desktop-width) {
    display: block;

    &--left::before {
      content: "";
      position: absolute;
      width: 22px;
      height: 41px;
      background-image: url("../../img/left-arrow.svg");
      top: 7px;
      left: 3px;
    }

    &--right::before {
      content: "";
      position: absolute;
      width: 22px;
      height: 41px;
      background-image: url("../../img/right-arrow.svg");
      right: 3px;
      top: 7px;
    }
  }
}

.reviews__button:hover {
  opacity: 0.6;
}

.reviews__button:active {
  opacity: 0.1;
}

.reviews__autor-info {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.reviews__autor-name {
  font-style: normal;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    order: 2;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
    margin-bottom: 4px;
  }
}

.reviews__autor-legend {
  display: none;
  font-style: normal;

  @media (min-width: $tablet-width) {
    display: block;
    order: 3;
    text-align: center;
    padding-bottom: 18px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.reviews__text {
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    margin-bottom: 36px;
  }
}

.reviews__inner {
  width: 62px;
  margin: 10px auto 0;

  @media (min-width: $desktop-width) {
    display: none;
  }
}
