$first-text-color: #283645;
$second-text-color: #d22856;
$tretiary-text-color: #ffffff;
$title-text-color: #000000;
$basic-white: #ffffff;
$basic-black: #000000;
$main-bg-color: #f2f2f2;
$primary-bg-color: #1d2631;
$tretiary-bg-color: #283645;
$special-bg-color: #d22856;
$form-button-bg: #2aab6d;
$form-button-bg-hover: #1c9b5e;
$main-text-bg: #d22856;
$border-color: #e5e5e5;
$border-color-hover: #283645;
$border-color-active: #d22856;
$cell-color: #ffffff;
$table-border-color: #c4c4c4;
