@import "mixins";
@import "fonts";
@import "variables";
@import "colors";
@import "basic";
@import "blocks/title";
@import "blocks/button";
@import "blocks/subtitle";
@import "blocks/body-text";
@import "blocks/wrapper";
@import "blocks/header";
@import "blocks/promo";
@import "blocks/features";
@import "blocks/reviews";
@import "blocks/price";
@import "blocks/price-table";
@import "blocks/contacts";
@import "blocks/form";
@import "blocks/comment";
@import "blocks/nav";
@import "blocks/platform";
@import "blocks/socials";
@import "blocks/footer";
@import "blocks/text-label";
@import "blocks/gallery";
@import "blocks/toggles";
@import "blocks/fact";
@import "blocks/main";
@import "blocks/checkbox-label";
@import "blocks/radio-label";
@import "blocks/filter";
@import "blocks/modal";
