$first-text-color: #283645;
$second-text-color: #d22856;
$tretiary-text-color: #ffffff;
$title-text-color: #000000;
$basic-white: #ffffff;
$basic-black: #000000;
$main-bg-color: #f2f2f2;
$primary-bg-color: #1d2631;
$tretiary-bg-color: #283645;
$form-button-bg: #2aab6d;
$main-text-bg: #d22856;
$tablet-width: 660px;
$desktop-width: 1200px;
